div.projects-wrapper {
padding: 4% 7%;
}
div.column-divider{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
}
img{ 
    max-width: 100%;
    filter:none;
}
img.images:hover{ 
    filter: blur(2px);
    transition: all  1s;
    position:relative;
}
div.project-text-wrapper{
  padding:20px;
}
.project-text{
    font-family: "Roboto";
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  text-decoration: none;

}
a.project-text{
  color:black
}

div.project-div{
    position: relative;
} 
div.modal-div{
  width:80%
}

  .projectContainer {
    padding: 5%;
  }
  .projectContainer {
    display: flex;
  }

  
  div.post {
    position: relative;
    overflow: hidden;
  }
  .imageHover {
    transition: 0.3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 100;
  }
  
  .projectInfo p {
    text-align: justify;
  
    font-size: 1.2em;
  }

  .moreInfoButton {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    background-color: #72ecc8;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  .moreInfoButton:hover {
    background-color: rgb(108, 179, 247);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.8);
    color: #fff;
    transform: translateY(-7px);
  }
  .post:hover .image {
    opacity: 0.6;
  }
  
  .post:hover .imageHover {
    opacity: 1;
  }

  #imageProfile img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  div.image {
    display: inline-block;
    padding: 2em 2em;
    width: 100%;
    height: auto;
    filter:grayscale(5%);
    -webkit-transition: 1s ease all;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
  }
  .backgroundImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(50px);
    background-size: cover;
  }
  .backgroundImage ::before {
    filter: blur(20px);
  }
  img.images {
    width: 100%;
  }
  
  div.image img {
    max-width: 100%;
  }
  