div.about-me-wrap{
    height: 500px;
    width:80vw;
    margin-top: 3%;
    background-color:rgba(255,255,255,0.8);
    /* background-color:rgba(0,0,0,0.9); */
    display: flex;
    justify-content: space-evenly;
    padding:0 40px;
}

    img.profile-img{

        width: 80%;
        border-radius: 50%
    }
   /* p, h2,h3{
       color:white;
       font-weight: 300
   } */
    
    div.img-wrap{
        width:40%;
        z-index: 1;
        margin:auto;
        text-align:center
    }
    div.text-wrap{
        width:53%;
        margin:auto
    }