div.container{
display: flex;
justify-content:center; 
}
nav{display: flex;
    justify-content: flex-end;
    height: 100px;
    align-items: center
}
nav>a{
    text-decoration:none;
    margin-right: 70px;
    outline:none;
    color:white
}